{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Shell ", "Guard ", "Shellguard ", "Mercenary ", "Engineer ", "Hacked ", "Modded ", "Modified ", "Improved ", "Improved ", "Tweaked " ],
      [ { "mode" : "alts" }, "Shooter ", "Breaker ", "Destroyer ", "Scatter ", "Cannon ", "Rifle ", "Weapon ", "Smasher ", "Slicer ", "Sniper ", "Finisher ", "Lightning " ],
      [ { "mode" : "alts" }, "A-", "B-", "C-", "D-", "E-", "F-", "G-", "H-", "I-", "J-", "K-", "L-", "M-", "N-", "O-", "P-", "Q-", "R-", "S-", "T-", "U-", "V-", "W-", "X-", "Y-", "Z-" ],
	  [ { "mode" : "alts" }, "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" ],
	  [ { "mode" : "alts" }, "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" ],
	  [ { "mode" : "alts" }, "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" ]
    ]
  ]
}
